<a href="https://colab.research.google.com/github/xodud5654/PDM05/blob/main/py-pandas/pandas_1_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python module 3. **pandas**

# Using pandas

* [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas tutorial with interactive exercises](https://www.kaggle.com/pistak/pandas-tutorial-with-interactive-exercises)

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline  # work for Jupyter notebook or lab

## [1] Make data: Series, and DataFrame
> pandas의 데이터 구조
- Series
- DataFrame

### Series
> 1차원 데이터

In [14]:
# Creating a Series by passing a list of values
s = pd.Series([1,3,5,np.nan,6,8,'you'])
s

0      1
1      3
2      5
3    NaN
4      6
5      8
6    you
dtype: object

In [15]:
type(s)

pandas.core.series.Series

In [16]:
# indexing & slicing of series
s[0],s[:3],s[-1:]

(1, 0    1
 1    3
 2    5
 dtype: object, 6    you
 dtype: object)

### 1차원 series의 용도
- 2차원 데이터프레임의 열을 구성

In [25]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range('20210927', periods=6)
dates,type(dates)   #datatimes.DatetimeIndex

(DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
                '2021-10-01', '2021-10-02'],
               dtype='datetime64[ns]', freq='D'),
 pandas.core.indexes.datetimes.DatetimeIndex)

In [18]:
# Make dataframe using an array with random numbers
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2021-09-27 -1.262049  1.867409  0.198379 -0.842466
2021-09-28 -1.458171 -0.319557 -1.544917 -1.009220
2021-09-29 -2.566777 -0.733267  0.779443 -0.255269
2021-09-30 -2.379654  1.385780 -0.155653 -0.484640
2021-10-01  1.771932 -0.683231  0.275264 -0.140836
2021-10-02  1.023538  0.142183  0.773377  1.502456

In [19]:
# check types of df  --> same type
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [20]:
type(df)

pandas.core.frame.DataFrame

### 데이터프레임 (DataFrame)
- 2차원 데이터
- 다차원 데이터

In [21]:
# Creating a DataFrame by passing a dict of objects that can be converted to series-like.
df2 = pd.DataFrame({ 'A' : 1., 
                    'B' : pd.Timestamp('20191129'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

In [22]:
df2

     A          B    C  D      E    F
0  1.0 2019-11-29  1.0  3   test  foo
1  1.0 2019-11-29  1.0  3  train  foo
2  1.0 2019-11-29  1.0  3   test  foo
3  1.0 2019-11-29  1.0  3  train  foo

In [23]:
# check types of df2 --> different types
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [24]:
type(df2)

pandas.core.frame.DataFrame



---