<a href="https://colab.research.google.com/github/xodud5654/PDM05/blob/main/py-pandas/pandas_2_handling_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python module 3. **pandas**

# Using pandas

* [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas tutorial with interactive exercises](https://www.kaggle.com/pistak/pandas-tutorial-with-interactive-exercises)

In [145]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline  # work for Jupyter notebook or lab



---

## [2] Handling DataFrame
- head()
- tail()
- describe()
- info()

In [146]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range('20210927', periods=6)
dates

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [147]:
# head()
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df.head()

                   A         B         C         D
2021-09-27  1.931680  0.772306 -0.130386  0.547172
2021-09-28 -0.284959 -0.465032  0.480972  1.728330
2021-09-29  0.294906  1.334961  0.727234 -0.899686
2021-09-30  0.483874  3.179085  0.511044 -0.546260
2021-10-01  1.008545  0.515735 -0.334783  1.022189

In [148]:
df.head(2)

                   A         B         C         D
2021-09-27  1.931680  0.772306 -0.130386  0.547172
2021-09-28 -0.284959 -0.465032  0.480972  1.728330

In [149]:
df.tail(3)

                   A         B         C         D
2021-09-30  0.483874  3.179085  0.511044 -0.546260
2021-10-01  1.008545  0.515735 -0.334783  1.022189
2021-10-02  0.871258  0.673122 -0.169107  0.234039

In [150]:
# Display the index, columns, and the underlying NumPy data:
df.index

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [151]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [152]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2021-09-27 to 2021-10-02
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [153]:
# describe() shows a quick statistic summary of your data:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.717551  1.001696  0.180829  0.347631
std    0.751089  1.216562  0.443363  0.976619
min   -0.284959 -0.465032 -0.334783 -0.899686
25%    0.342148  0.555082 -0.159427 -0.351186
50%    0.677566  0.722714  0.175293  0.390605
75%    0.974223  1.194297  0.503526  0.903435
max    1.931680  3.179085  0.727234  1.728330

In [154]:
df.describe().T

   count      mean       std       min       25%       50%       75%       max
A    6.0  0.717551  0.751089 -0.284959  0.342148  0.677566  0.974223  1.931680
B    6.0  1.001696  1.216562 -0.465032  0.555082  0.722714  1.194297  3.179085
C    6.0  0.180829  0.443363 -0.334783 -0.159427  0.175293  0.503526  0.727234
D    6.0  0.347631  0.976619 -0.899686 -0.351186  0.390605  0.903435  1.728330

In [155]:
# Transposing your dataframe:
df.T

   2021-09-27  2021-09-28  2021-09-29  2021-09-30  2021-10-01  2021-10-02
A    1.931680   -0.284959    0.294906    0.483874    1.008545    0.871258
B    0.772306   -0.465032    1.334961    3.179085    0.515735    0.673122
C   -0.130386    0.480972    0.727234    0.511044   -0.334783   -0.169107
D    0.547172    1.728330   -0.899686   -0.546260    1.022189    0.234039

In [156]:
df.T.index

Index(['A', 'B', 'C', 'D'], dtype='object')

### Sorting

#### Sort by index
- sort_index(axis=0, ascending=False)
- sort_index(axis=1, ascending=False)

> Axis=0 Column-Wise Operation (수직으로)

> Axis=1 Row-Wise Operation (수평으로)

In [157]:
# Sorting by an axis:
df, df.sort_index(axis=0) #, ascending=False)

(                   A         B         C         D
 2021-09-27  1.931680  0.772306 -0.130386  0.547172
 2021-09-28 -0.284959 -0.465032  0.480972  1.728330
 2021-09-29  0.294906  1.334961  0.727234 -0.899686
 2021-09-30  0.483874  3.179085  0.511044 -0.546260
 2021-10-01  1.008545  0.515735 -0.334783  1.022189
 2021-10-02  0.871258  0.673122 -0.169107  0.234039,
                    A         B         C         D
 2021-09-27  1.931680  0.772306 -0.130386  0.547172
 2021-09-28 -0.284959 -0.465032  0.480972  1.728330
 2021-09-29  0.294906  1.334961  0.727234 -0.899686
 2021-09-30  0.483874  3.179085  0.511044 -0.546260
 2021-10-01  1.008545  0.515735 -0.334783  1.022189
 2021-10-02  0.871258  0.673122 -0.169107  0.234039)

In [158]:
df,df.sort_index(axis=1, ascending=False)

(                   A         B         C         D
 2021-09-27  1.931680  0.772306 -0.130386  0.547172
 2021-09-28 -0.284959 -0.465032  0.480972  1.728330
 2021-09-29  0.294906  1.334961  0.727234 -0.899686
 2021-09-30  0.483874  3.179085  0.511044 -0.546260
 2021-10-01  1.008545  0.515735 -0.334783  1.022189
 2021-10-02  0.871258  0.673122 -0.169107  0.234039,
                    D         C         B         A
 2021-09-27  0.547172 -0.130386  0.772306  1.931680
 2021-09-28  1.728330  0.480972 -0.465032 -0.284959
 2021-09-29 -0.899686  0.727234  1.334961  0.294906
 2021-09-30 -0.546260  0.511044  3.179085  0.483874
 2021-10-01  1.022189 -0.334783  0.515735  1.008545
 2021-10-02  0.234039 -0.169107  0.673122  0.871258)

#### Sort by value
- sort_values(by='column')

In [159]:
# Sorting by values:
df,df.sort_values(by='B') #, ascending=False)

(                   A         B         C         D
 2021-09-27  1.931680  0.772306 -0.130386  0.547172
 2021-09-28 -0.284959 -0.465032  0.480972  1.728330
 2021-09-29  0.294906  1.334961  0.727234 -0.899686
 2021-09-30  0.483874  3.179085  0.511044 -0.546260
 2021-10-01  1.008545  0.515735 -0.334783  1.022189
 2021-10-02  0.871258  0.673122 -0.169107  0.234039,
                    A         B         C         D
 2021-09-28 -0.284959 -0.465032  0.480972  1.728330
 2021-10-01  1.008545  0.515735 -0.334783  1.022189
 2021-10-02  0.871258  0.673122 -0.169107  0.234039
 2021-09-27  1.931680  0.772306 -0.130386  0.547172
 2021-09-29  0.294906  1.334961  0.727234 -0.899686
 2021-09-30  0.483874  3.179085  0.511044 -0.546260)

## indexing and slicing of DataFrame

#### Selecting data by indexing and slicing
- indexing
- slicing

In [160]:
# Selecting a single column, which yields a Series
df['A']

2021-09-27    1.931680
2021-09-28   -0.284959
2021-09-29    0.294906
2021-09-30    0.483874
2021-10-01    1.008545
2021-10-02    0.871258
Freq: D, Name: A, dtype: float64

In [161]:
# Selecting via [], which slices the rows.
df[0:3]

                   A         B         C         D
2021-09-27  1.931680  0.772306 -0.130386  0.547172
2021-09-28 -0.284959 -0.465032  0.480972  1.728330
2021-09-29  0.294906  1.334961  0.727234 -0.899686

In [162]:
df['20210927':'20211001'] # 인덱스가 아닌 값인 경우는 지정된 범위가 다 선택된다.

                   A         B         C         D
2021-09-27  1.931680  0.772306 -0.130386  0.547172
2021-09-28 -0.284959 -0.465032  0.480972  1.728330
2021-09-29  0.294906  1.334961  0.727234 -0.899686
2021-09-30  0.483874  3.179085  0.511044 -0.546260
2021-10-01  1.008545  0.515735 -0.334783  1.022189

#### Selecting data by label [중요!!]

> **loc, iloc**

In [163]:
df

                   A         B         C         D
2021-09-27  1.931680  0.772306 -0.130386  0.547172
2021-09-28 -0.284959 -0.465032  0.480972  1.728330
2021-09-29  0.294906  1.334961  0.727234 -0.899686
2021-09-30  0.483874  3.179085  0.511044 -0.546260
2021-10-01  1.008545  0.515735 -0.334783  1.022189
2021-10-02  0.871258  0.673122 -0.169107  0.234039

In [164]:
df.loc[dates[0]]   # loc()

A    1.931680
B    0.772306
C   -0.130386
D    0.547172
Name: 2021-09-27 00:00:00, dtype: float64

In [165]:
# Selecting on a multi-axis by label:
df.loc[:,['A','B']]

                   A         B
2021-09-27  1.931680  0.772306
2021-09-28 -0.284959 -0.465032
2021-09-29  0.294906  1.334961
2021-09-30  0.483874  3.179085
2021-10-01  1.008545  0.515735
2021-10-02  0.871258  0.673122

#### [DIY: 도전코딩]

> Select data for first two days AND column 3,4 from df.

In [166]:
# df.loc[0:2,['C','D']]
#df.loc['20210927':'20210928',['C','D']]
df.loc[dates[:2],['C','D']]

                   C         D
2021-09-27 -0.130386  0.547172
2021-09-28  0.480972  1.728330

#### Selecting data by position (iloc())
- index 사용

In [167]:
df

                   A         B         C         D
2021-09-27  1.931680  0.772306 -0.130386  0.547172
2021-09-28 -0.284959 -0.465032  0.480972  1.728330
2021-09-29  0.294906  1.334961  0.727234 -0.899686
2021-09-30  0.483874  3.179085  0.511044 -0.546260
2021-10-01  1.008545  0.515735 -0.334783  1.022189
2021-10-02  0.871258  0.673122 -0.169107  0.234039

In [168]:
df.iloc[3]  # 결과는 차원축소형으로 표현됨.

A    0.483874
B    3.179085
C    0.511044
D   -0.546260
Name: 2021-09-30 00:00:00, dtype: float64

In [169]:
# [다시 도전]
# Select data for first two days AND comumn 3,4 from df.
# Use iloc
df.iloc[:2,2:4]

                   C         D
2021-09-27 -0.130386  0.547172
2021-09-28  0.480972  1.728330

In [170]:
# Select one item
df.iloc[1,1]

-0.46503180938065297

In [171]:
# [DIY: 다시 도전]
# Select data for first three days from df
# Your code
df.iloc[:3,:]

                   A         B         C         D
2021-09-27  1.931680  0.772306 -0.130386  0.547172
2021-09-28 -0.284959 -0.465032  0.480972  1.728330
2021-09-29  0.294906  1.334961  0.727234 -0.899686

#### Selecting data by Boolean indexing

In [172]:
df

                   A         B         C         D
2021-09-27  1.931680  0.772306 -0.130386  0.547172
2021-09-28 -0.284959 -0.465032  0.480972  1.728330
2021-09-29  0.294906  1.334961  0.727234 -0.899686
2021-09-30  0.483874  3.179085  0.511044 -0.546260
2021-10-01  1.008545  0.515735 -0.334783  1.022189
2021-10-02  0.871258  0.673122 -0.169107  0.234039

In [173]:
df.A>0

2021-09-27     True
2021-09-28    False
2021-09-29     True
2021-09-30     True
2021-10-01     True
2021-10-02     True
Freq: D, Name: A, dtype: bool

In [174]:
df[df.A > 0]

                   A         B         C         D
2021-09-27  1.931680  0.772306 -0.130386  0.547172
2021-09-29  0.294906  1.334961  0.727234 -0.899686
2021-09-30  0.483874  3.179085  0.511044 -0.546260
2021-10-01  1.008545  0.515735 -0.334783  1.022189
2021-10-02  0.871258  0.673122 -0.169107  0.234039

In [175]:
df>0

                A      B      C      D
2021-09-27   True   True  False   True
2021-09-28  False  False   True   True
2021-09-29   True   True   True  False
2021-09-30   True   True   True  False
2021-10-01   True   True  False   True
2021-10-02   True   True  False   True

In [176]:
df[df > 0]  #나머지 값 nan

                   A         B         C         D
2021-09-27  1.931680  0.772306       NaN  0.547172
2021-09-28       NaN       NaN  0.480972  1.728330
2021-09-29  0.294906  1.334961  0.727234       NaN
2021-09-30  0.483874  3.179085  0.511044       NaN
2021-10-01  1.008545  0.515735       NaN  1.022189
2021-10-02  0.871258  0.673122       NaN  0.234039